


.strip_list {
    margin-bottom: 25px;
    background-color: #fff;
    padding: 20px 15px 15px 115px;
    border-radius: 12px;
    position: relative;



}


.strip_list small {
    color: #999;
    display: block;
    font-weight: 600;
    font-size: 15px;
    font-family: Helvetica,sans-serif;


}

.strip_list h3{
    font-size: 1.375rem;
    display: inline-block;
    color: #333;
    font-family: inherit;

}